<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitrine photo - Carrousel horizontal</title>
  <link rel="stylesheet" href="/css/vitrine.css">
</head>
<body>
  <nav>
    <a href="/">Retour a la page Elegance Couture</a>
  </nav>

  <section class="container">
    <div class="carousel-wrapper">
      <div class="ring" id="ring">
        <div class="img" style="background-image:url('/assets/images/tenu%20blanche/blanche1.png')"></div>

        <div class="img" style="background-image:url('/assets/images/tenu%20dore/doree.png')"></div>
        <div class="img" style="background-image:url('/assets/images/tenu%20dore/doree2.png')"></div>
        <div class="img" style="background-image:url('/assets/images/tenu%20dore/doree3.png')"></div>
        <div class="img" style="background-image:url('/assets/images/tenu%20dore/doree4.png')"></div>

        <div class="img" style="background-image:url('/assets/images/argent1.jpeg')"></div>
        <div class="img" style="background-image:url('/assets/images/argent2.jpeg')"></div>
        <div class="img" style="background-image:url('/assets/images/argent3.jpeg')"></div>

        <div class="img" style="background-image:url('/assets/images/tenu%20rouge/rouge.png')"></div>
        <div class="img" style="background-image:url('/assets/images/tenu%20rouge/rouge2.png')"></div>

        <div class="img" style="background-image:url('/assets/images/tenu%20enfant/enfant.png')"></div>

        <div class="img" style="background-image:url('/assets/images/tenu%20maron/m1.png')"></div>
        <div class="img" style="background-image:url('/assets/images/tenu%20maron/m2.png')"></div>
        <div class="img" style="background-image:url('/assets/images/tenu%20maron/m3.png')"></div>
        <div class="img" style="background-image:url('/assets/images/tenu%20maron/m4.png')"></div>
        <div class="img" style="background-image:url('/assets/images/tenu%20maron/m5.png')"></div>
      </div>
    </div>
  </section>

  <div class="controls">
    <button id="prevBtn" type="button">Precedent</button>
    <button id="nextBtn" type="button">Suivant</button>
  </div>

  <div id="pleinEcran">
    <div id="pleinEcranImg"></div>
  </div>

  <script src="/js/vitrine.js"></script>
</body>
</html>
